<% if model_item.errors.any? %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(model_item.errors.count, "Error") %>
              ocurred:
            </h2>
          </div>
          <div class="panel-body">
            <ul>
              <% model_item.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<% end %>
