<h2>Something about Alpha Blog</h2>

<p>This app/page was created in Ruby on Rails, as a part of 101 tutorial.</p>
<a href="mailto:author@example.com?subject=subject&cc=cc@example.com" target="blank">Mail to author</a>

<%= render 'main_pages/menu' %>

