<div class="jumbotron center">
  <h1>Alpha Blog!</h1>
  <p>Welcom welcome welcome</p>
  <p>
    <%= link_to "All Articles", articles_path, class:"btn btn-primary btn-lg" %>

    <%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg" %>
  </p>
</div>
<%= render 'main_pages/menu' %>
